Package: multimedia-converter
Version: 1.1.9
Section: utils
Priority: optional
Architecture: all
Depends: python3, python3-gi, gir1.2-gtk-4.0, gir1.2-adw-1, ffmpeg
Maintainer: Tavo <tavo2026@openargos.com>
Description: Conversor multimedia profesional con soporte de carátulas y sample rate.

